<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.havrtz.openworld">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_open_world_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.havrtz.openworld.activities.OptionsActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.havrtz.openworld.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.havrtz.openworld.activities.DisplayStoryPageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_collage_view"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="com.havrtz.openworld.activities.UpsertPageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.havrtz.openworld.activities.HomePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>